.button__Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__randomGifts {
    padding: 10px;
    margin: 50px;
    border-radius: 10px;
    border: 1px solid #9b507f;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
}